<div ng-controller="generalCtrl">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prl-0 padt-lg-40 mb-20">
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pad0 marb-small-15">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prl-0 pb-15">
				<h4 class="c-003a52 mt-0 titilliumwebBold">Campaign headline could have a very long title</h4>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prl-0 pb-10">
					<span class="icon-ok fs-24 c-c5af8d"> </span>
					like component
				</div>
				<p class="c-4c4c4c">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
				</p>
			</div>

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0">
				<div class="col-lg-2 col-md-3 col-sm-1 col-xs-2 pad0 mw-60">
					<img src="img/prof.png" class="img-responsive img-rounded">
				</div>

				<div class="col-lg-10 col-md-9 col-sm-11 col-xs-10 pr-0">
					<font class="c-d8bc79 fs-14">Prof. Dr. Heinz Karl</font></br>
					<font class="c-000">University Munich, Internist</font>
					<p class="c-818181 pt-10 mb-0 titilliumwebLightItalic">
						“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
					</p>
				</div>
			</div>
		</div>

		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 prl-0">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-10 video pr-0">			
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 bg-eeeeee h-240 brt-10">
					<img src="img/sello.png" class="img-responsive pos-abs top--30 right--40 right-small--10 top-small--20">
					video
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-0 h-68 pad0-small">
				<div class="swiper-container">
			        <div class="swiper-wrapper">
			            <div class="swiper-slide">Video 1</div>
			            <div class="swiper-slide">Video 2</div>
			            <div class="swiper-slide">Video 3</div>
			            <div class="swiper-slide">Video 4</div>
			            <div class="swiper-slide">Video 5</div>
			            <div class="swiper-slide">Video 6</div>
			            <div class="swiper-slide">Video 7</div>
			            <div class="swiper-slide">Video 8</div>
			            <div class="swiper-slide">Video 9</div>
			            <div class="swiper-slide">Video 10</div>
			        </div>
			    </div>
			</div>
		</div>
	</div>


	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prl-0 mb-20 border-f7f7f7 br-7 bsh-1 text-center pt-25 pb-25">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><span class="icon-listadeespera c-3a7ca1 fs-28"></span></div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><span class="fs-18 c-000">Waiting list ...</span></div>

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-60 pb-25">
			<form class="form-inline" role="form" novalidate name="notificationEmail" method="POST" enctype="multipart/form-data">
				<div class="form-group has-success has-feedback w-355 w-xs-225 center-all">
					<input type="text" placeholder="Please, insert your email to be notified" class="form-control fs-14 c-bfbfbf" name="notemail">
					<span class="icon icon-insertarcorreo form-control-feedback c-bfbfbf fs-20 pos-abs top-8"></span>
				</div>
			</form>
		</div>

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="br-5 bg-5a98ba text-center center-all w-106 pt-10 pb-10"><span class="c-fff fs-14">Join me</span></div>
		</div>
	</div>



	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prl-0 mb-20">
		<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 prl-0 brl-7 border-F7F7F7 bsh-4 bsh-small-1 campaigns-property brsmall-7 padb-small-10">
			<h4 class="c-003a52 text-center titilliumwebBold mb-20">Campaign properties</h4>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 pl-small-12">
				<div class="city">
					<h6 class="fs-10 c-808080 titilliumwebRegular">City</h6>
					<div class="icon">
						<span class="icon-ciudad c-d8bc79 fs-18"></span>
						<font class="fs-18 c-414141 pl-5 titilliumwebBold">Munich</font>
					</div>
				</div>			
			</div>
			
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 pl-small-12">
				<div class="date">
					<h6 class="fs-10 c-808080 titilliumwebRegular">Date</h6>
					<div class="icon">
						<span class="icon-fecha c-d8bc79 fs-18 fw-bold"></span>
						<font class="fs-18 c-414141 pl-5 titilliumwebBold">3-25</font><font class="fs-18 c-414141">/2</font>
					</div>
				</div>				
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 pl-small-12">
				<div class="ftermine">
					<h6 class="fs-10 c-808080 titilliumwebRegular">Freie Termine</h6>
					<div class="icon">
						<span class="icon-capacidades c-d8bc79 fs-18 fw-bold"></span>
						<font class="fs-18 c-414141 pl-5 titilliumwebBold">50</font>
					</div>
				</div>		
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 pl-small-12">
				<div class="doctors">
					<h6 class="fs-10 c-808080 titilliumwebRegular">Doctors</h6>
					<div class="icon">
						<span class="icon-doctores c-d8bc79 fs-18 fw-bold"></span>
						<font class="fs-18 c-414141 pl-5 titilliumwebBold">8</font>
					</div>
				</div>			
			</div>		
		</div>
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 prl-0 brr-7 border-F7F7F7 bsh-4 bsh-small-1 bg-007DA4 campaigns-property text-center brsmall-0 marb-small-15">
			<div class="col-lg-12 col-md-12 col-sm-8 col-xs-8 padt-small-10">
				<h4 class="c-fff titilliumwebBold">Price</h4>
			</div>		

			<div class="col-lg-12 col-md-12 col-sm-4 col-xs-4 padt-small-10 text-right-small">
				<h6 class="c-fff">Original</h6>
				<div class="icon padb-small-10">
					<font class="fs-24 c-fff ">€400</font>
				</div>
			</div>
		</div>
		<div class="col-lg-9 col-md-9 hidden-sm hidden-xs pr-0 borderrl-F7F7F7"><div class="separator-gray"></div></div>
		<div class="col-lg-3 col-md-3 hidden-sm hidden-xs prl-0 borderrl-F7F7F7"><div class="separator-green"></div></div>

		<!--*******************************************************************************************************************-->

		<div id="myCarousel" class="carousel slide col-lg-9 col-md-9 col-sm-12 col-xs-12 prl-0 borderrl-F7F7F7 bt-small-solid brsmall-7 prof-property bsh-6 bsh-small-1 padb-small-10" data-ride="carousel">
			
			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item {[{ $index == '0' ? 'active' : '' }]}" ng-repeat="data in carouselData">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pt-25 padr-lg-0">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pad0">
							<img src="img/{[{ data.profimg }]}" class="img-responsive img-rounded">
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pr-0">
							<h4 class="c-4b4b4b mar0">{[{data.profdegree}]} {[{data.profname}]}</h4>
							<font class="c-000 fs-14 fw-bold">{[{data.speciality}]}</font>

							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prl-0 pt-10">
								<span class="icon-localizacion c-d8bc79 fs-14 fw-bold"></span>
								<font class="fs-14 c-000 pl-5 fw-bold">Location</font>
							</div>

							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prl-0 pt-15 pt-small-5">
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pl-0 padr-md-0 pr-5">
									<span class="icon-verificado c-d8bc79 fs-14 fw-bold"></span>
									<font class="fs-14 c-000 pl-5 titilliumwebBold">8</font><font class="fs-14 c-000">/10</font>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 pl-0 pt-small-5 p pl-small-0 pad-restart-md pr-5">
									<span class="icon-capacidades c-d8bc79 fs-14 fw-bold"></span>
									<font class="fs-14 c-000 pl-5 titilliumwebBold">10</font>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 pl-0 pt-small-5 pad-restart-md pr-5">
									<span class="icon-rechazados c-d8bc79 fs-14 fw-bold"></span>
									<font class="fs-14 c-000 pl-5 titilliumwebBold">8</font>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pt-25">
						<p class="c-818181">
							{[{data.biography}]}  
						</p>
					</div>
				</div>
			</div>

			<!-- Left and right controls -->
			 <a class="left carousel-control" href="" ng-click="slide('prev')" role="button" data-slide="prev">
	        	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    	</a>
		    <a class="right carousel-control" ng-click="slide('next')" role="button" data-slide="next">
		        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    </a>

		</div>
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 prl-0 borderrl-F7F7F7 bg-007DA4 text-center brsmall-0 prof-property bsh-5 bsh-small-1 marb-small-15">
			<div class="col-lg-12 col-md-12 col-sm-8 col-xs-6 text-left-small padt-small-10 hidden-lg hidden-md">
				<h4 class="c-fff titilliumwebBold">Price</h4>
			</div>		

			<div class="col-lg-12 col-md-12 col-sm-4 col-xs-6 padt-small-10 text-right-small padt-lg-45">
				<h6 class="c-fff">Reduced by Doctor</h6>
				<div class="icon padb-small-10">
					<font class="fs-24 c-fff ">€50</font>
				</div>
			</div>
		</div>
		<div class="col-lg-9 col-md-9 hidden-sm hidden-xs pr-0 borderrl-F7F7F7"><div class="separator-gray"></div></div>
		<div class="col-lg-3 col-md-3 hidden-sm hidden-xs prl-0 borderrl-F7F7F7"><div class="separator-green"></div></div>

		<!--*******************************************************************************************************************-->

		<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 prl-0 borderrlb-F7F7F7 bt-small-solid brsmall-7 img-property bsh-3 bsh-small-4 brldown-7 padb-small-10">
			<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 mt-15 pl-md-35">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 bg-CFD4D6 h-120 h-md-130 br-2">
					<div class="img-circle text-center bg-d8bc79 pt-13 h-45 w-45 pos-abs top--10 right--10">
						<font class="fs-14 c-fff">€15</font>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-5 col-xs-5 mt-15 pr-md-35">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 bg-CFD4D6 h-120 h-md-62 br-2 h-small-80">
					<div class="img-circle text-center bg-008DCD pt-13 h-45 w-45 pos-abs top--10 right--10 top-md-0
	right-md--15">
						<font class="fs-14 c-fff">€10</font>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-7 col-xs-7 mt-15 mt-md-6 pr-md-35">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 bg-CFD4D6 h-120 h-md-62 br-2 h-small-80">
					<div class="img-circle text-center bg-008DCD pt-13 h-45 w-45 pos-abs top--10 right--10 top-md-0
	right-md--15">
						<font class="fs-14 c-fff">€8</font>
					</div>
				</div>
			</div>
		</div>


		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 prl-0 borderrl-F7F7F7 bg-007DA4 text-center brsmall-0 img-property bsh-3 bsh-small-4 brrdown-7">
			<div class="col-lg-12 col-md-12 col-sm-8 col-xs-6 text-left-small padt-small-10 hidden-lg hidden-md">
				<h4 class="c-fff titilliumwebBold">Price</h4>
			</div>		

			<div class="col-lg-12 col-md-12 col-sm-4 col-xs-6 padt-small-10 text-right-small padt-lg-45 mb-10">
				<h6 class="c-fff">Sponsor Discounts</h6>
				<div class="icon padb-small-10">
					<font class="fs-24 c-fff ">€30</font>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-lg-offset-9 col-md-3 col-md-offset-9 col-sm-12 col-xs-12 prl-0 borderrl-fff text-center">
			<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-l2 bg-FF9D00 img-rounded pb-5 our-price bsh-2">
				<div class="lh-20 mb-5">
					<font class="c-fff titilliumwebRegular">Our Price</font></br>
					<font class="c-fff fs-28 titilliumwebBold">€850</font>
				</div>
				
				<font class="c-000 fs-14 titilliumwebBold">GET APPOINTMENT</font>
			</div>
		</div>
	</div>

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prl-0 mb-20 padt-lg-40 padt-small-20">
		<div class="col-lg-7 col-md-5 col-sm-12 col-xs-12 pl-0 padb-small-10 pad0-small">
			<h4 class="c-003a52 mt-0 titilliumwebBold">Indications</h4>
			<p class="c-4b4b4b">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
	  
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 

				Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 

				Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
			</p>
		</div>

		<div id="showvideos" class="col-lg-5 col-md-7 col-sm-12 col-xs-12 pr-0 padt-lg-30 pad0-small">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-10 video pr-0">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 bg-eeeeee h-240 brt-10">

					<div class="pos-abs col-lg-3 col-md-3 col-sm-2 col-xs-4 pad0 bg-007DA4 img-rounded top-5 right-5 mw-small-90 cursor-pointer" ng-click="imageVideo('showimages', 'showvideos')">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad0 pt-5">
							<span class="icon-verimagenes c-fff fs-28 pl-30"></span>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad0 lh-12 pt-6 pb-6">
							<font class="c-fff titilliumwebBold">20</font></br>
							<font class="c-fff titilliumwebRegular">images</font>
						</div>
					</div>

					video
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 h-68 pr-0 pad0-small">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 h-68 pl-55 pr-55 prl-15-small">
					<div class="swiper-container swiper-small">
				        <div class="swiper-wrapper">
				            <div class="swiper-slide">Video 1</div>
				            <div class="swiper-slide">Video 2</div>
				            <div class="swiper-slide">Video 3</div>
				            <div class="swiper-slide">Video 4</div>
				            <div class="swiper-slide">Video 5</div>
				            <div class="swiper-slide">Video 6</div>
				            <div class="swiper-slide">Video 7</div>
				            <div class="swiper-slide">Video 8</div>
				            <div class="swiper-slide">Video 9</div>
				            <div class="swiper-slide">Video 10</div>
				        </div>
				    </div>				
				</div>
			</div>
		</div>

		<div id="showimages" class="col-lg-5 col-md-7 col-sm-12 col-xs-12 pr-0 padt-lg-30 pad0-small">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-10 video pr-0">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 bg-eeeeee h-240 brt-10">

					<div class="pos-abs col-lg-3 col-md-3 col-sm-2 col-xs-4 pad0 bg-007DA4 img-rounded top-5 right-5 mw-small-90 cursor-pointer" ng-click="imageVideo('showvideos', 'showimages')">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad0 pt-5">
							<span class="icon-vervideos c-fff fs-28 pl-30"></span>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad0 lh-12 pt-6 pb-6">
							<font class="c-fff titilliumwebBold">20</font></br>
							<font class="c-fff titilliumwebRegular">videos</font>
						</div>
					</div>

					image
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 h-68 pr-0 pad0-small">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 h-68 pl-55 pr-55 prl-15-small">
					<div class="swiper-container swiper-small">
				        <div class="swiper-wrapper">
				            <div class="swiper-slide">Image 1</div>
				            <div class="swiper-slide">Image 2</div>
				            <div class="swiper-slide">Image 3</div>
				            <div class="swiper-slide">Image 4</div>
				            <div class="swiper-slide">Image 5</div>
				            <div class="swiper-slide">Image 6</div>
				            <div class="swiper-slide">Image 7</div>
				            <div class="swiper-slide">Image 8</div>
				            <div class="swiper-slide">Image 9</div>
				            <div class="swiper-slide">Image 10</div>
				        </div>
				    </div>				
				</div>
			</div>
		</div>
	</div>
</div>