<div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prl-0 padt-lg-40 mb-20">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0">
			<h4 class="c-003a52 mt-0 titilliumwebBold pb-15">Treatments Title</h4>	
		</div>
		
		<div class="col-lg-7 col-md-5 col-sm-12 col-xs-12 pl-0 padb-small-10 pad0-small">
			<h4 class="c-4c4c4c fs-16 mt-0 titilliumwebBold">Indications</h4>
			<p class="c-4c4c4c">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
	  
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 

				Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 

				Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
			</p>
		</div>

		<div class="col-lg-5 col-md-7 col-sm-12 col-xs-12 pr-0 padt-lg-30 pad0-small">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-10 video pr-0">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 bg-eeeeee h-240 brt-10">
					video
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 h-68 pr-0 pad0-small">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 h-68 pl-55 pr-55 prl-15-small">
					<div class="swiper-container swiper-small">
				        <div class="swiper-wrapper">
				            <div class="swiper-slide">Video 1</div>
				            <div class="swiper-slide">Video 2</div>
				            <div class="swiper-slide">Video 3</div>
				            <div class="swiper-slide">Video 4</div>
				            <div class="swiper-slide">Video 5</div>
				            <div class="swiper-slide">Video 6</div>
				            <div class="swiper-slide">Video 7</div>
				            <div class="swiper-slide">Video 8</div>
				            <div class="swiper-slide">Video 9</div>
				            <div class="swiper-slide">Video 10</div>
				        </div>
				    </div>				
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prl-0 mb-20">
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pl-0 pad0-small">
			<h4 class="c-003a52 titilliumwebBold mb-20">Risks</h4>

			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 prl-0 pr-sm-15">
				<div id="myCarousel" class="carousel slide col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0 h-125 bg-bebebe" data-ride="carousel">
					<!-- Wrapper for slides -->
					<div class="carousel-inner w100 ml-0" role="listbox">
						<div  class="item {[{ $index == '0' ? 'active' : '' }]}" index="{[{$index}]}"  ng-repeat="data in carouselData">
							<img src="img/{[{data.imgname}]}" alt="{[{data.imgalt}]}" class="h-125">
						</div>					
					</div>

					<!-- Left and right controls -->
					<a class="left carousel-control ml-1" href="" ng-click="slide('prev')" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					</a>
					<a class="right carousel-control mr-1" ng-click="slide('next')" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					</a>
				</div>
				<p class="c-000 titilliumwebSemiBold">Description 1</p>

				<h4 class="c-000 titilliumwebBold mb-5">Risk title</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					Duis aute irure dolor in reprehenderit in 
					voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
				</p>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pr-0 pad0-small mb-sm-20">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 h-45 bg-5a98ba bsh-2-5 lh-22 h-small-70 pt-small-13 mb-5">
					<span class="titilliumwebBold c-fff">Risk title 1</span></br>
					<span class="icon-imageneson c-fff fs-18"></span>
					<span class="c-fff pos-abs ml-3 top-18 top-small-33">3 images</span>
				</div>

				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 borderb-dbdbdb pb-10">
					<h6 class="c-808080 mb-5 mt-15">Risk tittle a little long 2</h6>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pl-0">
						<span class="icon-imageneson fs-16"></span>
						<font class="c-5a98ba pl-5 pos-abs">3</font>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pad0">
						<span class="icon-videosoff fs-16"></span>
						<font class="c-5a98ba pl-5 pos-abs">2</font>
					</div>
				</div>

				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 borderb-dbdbdb pb-10">
					<h6 class="c-808080 mb-5 mt-15">Risk tittle 3</h6>
				</div>

				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 borderb-dbdbdb pb-10 mb-xs-20">
					<h6 class="c-808080 mb-5 mt-15">Risk tittle very very long 2</h6>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pad0">
						<span class="icon-videosoff fs-16"></span>
						<font class="c-5a98ba pl-5 pos-abs">4 videos</font>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pr-0 pad0-small">
			<h4 class="c-003a52 titilliumwebBold mb-20">Alternate treatments</h4>
			
			<div class="col-lg-12 col-md-12 col-sm-4 col-xs-12 pad0 alt-treatment mr-sm-5">
				<h6 class="titilliumwebBold c-000 fs-14 mt-0 mb-5">Treatment title</h6>
				<p class="c-4c4c4c">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
				</p>
			</div>

			<div class="col-lg-12 col-md-12 col-sm-4 col-xs-12 pad0 alt-treatment mr-sm-5">
				<h6 class="titilliumwebBold c-000 fs-14 mt-0 mb-5">Treatment title</h6>
				<p class="c-4c4c4c">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
				</p>
			</div>

			<div class="col-lg-12 col-md-12 col-sm-4 col-xs-12 pad0 alt-treatment">
				<h6 class="titilliumwebBold c-000 fs-14 mt-0 mb-5">Treatment title</h6>
				<p class="c-4c4c4c">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor sit amet, consectetur adipisicing elit,
				</p>
			</div>
		</div>
	</div>

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-20 bsh-3-5 br-7 border-f7f7f7 pt-10 pb-15 pl-3">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0">
			<h4 class="c-003a52 text-center titilliumwebBold mb-20 mt-0">Current campaigns for this treatment</h4>
			<div class="col-lg-3 col-md-3 col-sm-2 col-xs-12 pad0">
				<h4 class="titilliumwebBold c-000 fs-14">Campaign title</h4>
				<h6 class="c-808080 mb-5">City</h6>
				<h6 class="titilliumwebBold fs-14 c-3a7ca1 mt-0">Munich</h6>
			</div>

			<div class="col-lg-4 col-lg-offset-1 col-md-5 col-sm-5 col-xs-12 pad0">
				<h4 class="titilliumwebBold c-000 fs-14 text-center mb-0 text-xs-left">Properties</h4>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pl-xs-0 mw-xs-30">
					<h6 class="c-808080 mb-5">Date</h6>
					<h6 class="titilliumwebBold fs-14 c-3a7ca1 mt-0">3-25<span class="titilliumwebLight">/2</span></h6>
				</div>
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-4 pad-xxs-0 pl-xs-0">
					<h6 class="c-808080 mb-5">Freie Termine</h6>
					<h6 class="titilliumwebBold fs-14 c-3a7ca1 mt-0">50</h6>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
					<h6 class="c-808080 mb-5">Doctors</h6>
					<h6 class="titilliumwebBold fs-14 c-3a7ca1 mt-0">8</h6>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 pad0">
				<div class="col-lg-8 col-lg-offset-4 col-md-9 col-md-offset-3 col-sm-11 col-sm-offset-1 col-xs-12 pad0">
					<h4 class="titilliumwebBold c-000 fs-14">Avg. Price</h4>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pt-3 pl-xs-0">
						<span class="fs-24 c-3a7ca1 titilliumwebLight">€380</span>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad0 pos-abs-xs top-xs-11 right-xs-0">
						<div class="br-5 bsh-2-05 bg-eca142 c-000 titilliumwebBold fs-14 text-center padrl10-tb-12_5 ptb-xs-18">Zur Aktion</div>
					</div>
				</div>
			</div>


			<div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 pad0 borderb-bfbfbf pt-10 pt-xs-15"></div>
			<!-- border structure -->
			<div class="col-lg-4 col-md-4 col-sm-5 hidden-xs pad0 pt-10">
				<div class="col-lg-4 col-md-3 col-sm-1 pad0 borderb-bfbfbf"></div>
				<div class="col-lg-8 col-md-9 col-sm-11 pad0">
					<div class="col-lg-5 col-md-5 col-sm-5 borderb-bfbfbf"></div>	
				</div>
			</div>
			<!-- end border structure -->


			<div class="col-lg-3 col-md-3 col-sm-2 col-xs-12 pad0">
				<h4 class="titilliumwebBold c-000 fs-14 pt-xs-15">Campaign title</h4>
				<h6 class="c-808080 mb-5">City</h6>
				<h6 class="titilliumwebBold fs-14 c-3a7ca1 mt-0">Munich</h6>
			</div>

			<div class="col-lg-4 col-lg-offset-1 col-md-5 col-sm-5 col-xs-12 pad0">
				<h4 class="titilliumwebBold c-000 fs-14 text-center mb-0 text-xs-left">Properties</h4>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pl-xs-0 mw-xs-30">
					<h6 class="c-808080 mb-5">Date</h6>
					<h6 class="titilliumwebBold fs-14 c-3a7ca1 mt-0">3-25<span class="titilliumwebLight">/2</span></h6>
				</div>
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-4 pad-xxs-0 pl-xs-0">
					<h6 class="c-808080 mb-5">Freie Termine</h6>
					<h6 class="titilliumwebBold fs-14 c-3a7ca1 mt-0">50</h6>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
					<h6 class="c-808080 mb-5">Doctors</h6>
					<h6 class="titilliumwebBold fs-14 c-3a7ca1 mt-0">8</h6>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 pad0">
				<div class="col-lg-8 col-lg-offset-4 col-md-9 col-md-offset-3 col-sm-11 col-sm-offset-1 col-xs-12 pad0">
					<h4 class="titilliumwebBold c-000 fs-14">Avg. Price</h4>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pt-3 pl-xs-0">
						<span class="fs-24 c-3a7ca1 titilliumwebLight">€380</span>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pad0 pos-abs-xs top-xs-11 right-xs-0">
						<div class="br-5 bsh-2-05 bg-dbdbdb c-808080 titilliumwebBold fs-14 text-center padrl10-tb-12_5 ptb-xs-18">Zur Aktion</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>